body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fffdfd;
    color: #000000;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}

#discussions {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    max-height: 300px;
    overflow-y: auto;
}

#discussion-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#discussion-form button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
